<div class="wrapper">
  <div class = "side-bar">
    <%= render "side_bar" %>
    <div class="user-name"></div>
    <div class="chat-list"></div>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
    <div class="chat-name"></div>
    <div class="chat-messages"></div>
    <div class="chat-form"></div>
  </div>
</div>
